body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    background-color: #9dc29f;
    border: 1px solid #7fb882;
    border-radius: 3px;
    box-shadow: 0 7px 14px -3px #858585;
}
.header__logo {
    border-right: 1px solid #7fb882;
    border-radius: 3px;
    box-shadow: 0 7px 14px -3px #858585;
}
.header__createVis {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #058712;
    box-shadow: 0 7px 14px -3px #858585;
    cursor: pointer;
}
/*modal*/
.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    pointer-events: none;
}
.modal:target {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.modal > div {
    width: 400px;
    min-height: 100px;
    margin: 10% auto;
    padding: 10px 20px 20px 20px;
    border-radius: 3px;
    background: #fff;
    position: relative;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 28px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1px;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #7fb882; }

.created {
    position: relative;
    padding: 10px 150px;
    border-radius: 3px;
    background-color: #7fb882;
    font-weight: bolder;
    margin: 5px 0;
}
.created a {
    color: #FFFFFF;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0 5px 0;
    position: relative;

}
.modalBody input {
border: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin: 10px 0;
    width: 300px;

}
/*modal*/


/*section visits*/
.visits {
    display: flex;
    position: relative;
    margin: 30px auto;
    width: 1000px;
    height: 500px;
    background-color: #9dc29f;
    border: 1px solid #7fb882;
    border-radius: 3px;
    box-shadow: 0 7px 14px -3px #858585;
}
.visits__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid #7fb882;
    border-radius: 3px;
    box-shadow: 0 7px 14px -3px #858585;
}



/*section visits*/

.containerForCard {
    height: max-content;
    margin: 5px;
    border: 1px dashed gray;
    box-sizing: border-box;
    background-color: #9dc29f;
    padding: 25px;
    position: relative;
}


.draggable {
    border: 1px solid black;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.hide > li {
    list-style-type: none;
}

.deleteCard {
    position: absolute;
    right: 5px;
    top: 5px;
    color: darkred;
}